<h1>Books</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Library</th>            
        </tr>
    </thead>
    <tbody>
        {{#each model as |book|}}
        <tr>
            <td>{{book.title}}</td>
            <td>{{book.author.name}}</td>
            <td>{{date-formatter book.releaseYear}}</td>
            <td>{{book.library.name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>